*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, #3b83f638, #06b5d44b);
}
.App {
  width: 80%;
  margin: 0 auto;
}

th {
  font-weight: bold !important;
  text-transform: uppercase !important;
}
tr td:nth-child(1) {
  font-weight: bold;
}